<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Plan</title>
  <meta name="description" content="Website for What's My Name?">
<!--{% load static %}-->
  <!--<link rel="stylesheet" type="text/css" href="{% static 'first_app/books_style.css' %}" />-->
</head>
<body>
    <div id="header">
        <a href="/travels">Home</a>
        <a href="/logout">Logout</a>
    </div>

    <h2>Add Plan</h2>
    <form action="/travels/add_dest" method="post">
        {% csrf_token %}
        Destination<input type="text" name="destination">
        Description<input type="text" name="description">
        Travel Date From:<input type="date" name="date_from">
        Travel Date To:<input type="date" name="date_to">
        <input type="submit" value="Add">
    </form>

