<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Reviews</title>
</head>
<body>
    <div id="header">
        <a href="/travels">Home</a>
        <a href="/logout">Logout</a>
    </div>
    <div id="wrapper">


        <h3>Planned by: {{ trip.users.first.name }}</h3>
        <h4>desc: {{ trip.destination }}</h4>
        <h4>from: {{ trip.date_from }}</h4>
        <h4>To: {{ trip.date_to }}</h4>
    </div>
    <h3>Who else is coming:</h3>
   {% for user in trip.users.all|slice:"1:" %}{{ user.name }}{% endfor %}
</body>
</html>


