<!DOCTYPE HTML>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Welcome</title>
      <meta name="description" content="Website for What's My Name?">
    {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'first_app/index_style.css' %}" />
  </head>
  <body>
    <div id=wrapper>
      <h1>Welcome!</h1>

      <div id='registration'>
        <h3>Register</h3>
        <form action="/register" method="post">
          {% csrf_token %}
        <table>
          <tr>
            <td class=leftcolumn>Name:</td>
            <td class=rightcolumn><input type="text" name="name"></td>
          </tr>
          <tr>
            <td class=leftcolumn>Username: </td>
            <td class=rightcolumn><input type="text" name="username"></td>
          </tr>

          <tr>
            <td class=leftcolumn>Password: </td>
            <td class=rightcolumn><input type="password" name="password"></td>
          </tr>

            <td class=leftcolumn colspan="2">*Password should be at least 8 characters</td>

          <tr>
            <td class=leftcolumn>Confirm Password: </td>
            <td class=rightcolumn><input type="password" name="password_confirmation"></td>
          </tr>
          <tr>
            <td class=leftcolumn></td>
            <td class=rightcolumn><input type="submit" value="Register"></td>
          </tr>
        </table>
        </form>
      </div>
              {% if messages %}

    {% for message in messages %}
        {% if message.tags == 'error' %}

            <div class="alert alert-danger" role="alert">{{ message|escape|safe }}</div>

        {% endif %}
    {% endfor %}
{% endif %}


      <div id='login'>
        <form action="/login" method="post">
          {% csrf_token %}
        <h3>Login</h3>
        <table>
          <tr>
            <td class=leftcolumn>Username:</td>
            <td class=rightcolumn><input type="text" name="username"></td>
          </tr>
          <tr>
            <td class=leftcolumn>Password:</td>
          <td class=rightcolumn><input type="text" name="password"></td>
          </tr>
          <tr>
          <td class=leftcolumn></td>
          <td class=rightcolumn><input type="submit" value="Login"></td>
        </tr>
        </table>
      </div>
    </div>
  </body>
</html>
