<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Books Home</title>
  <meta name="description" content="Website for What's My Name?">
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'first_app/books_style.css' %}" />
</head>
<body>
    <div id="header">
        <a href="/logout">Logout</a>
      <h1>Welcome, {{ user.name }} !</h1>
    </div>


    <div id="yours">
<h1>Your trip schedules</h1>
         <hr>
            {% if user %}
                {% for trip in user.trips.all %}
                     <h2><a href="/destination/{{trip.id}}">{{ trip.destination }}</a></h2>
                     <h3> Start date: {{ trip.date_from }}  </h3>
                     <h3> End date: {{ trip.date_to }}  </h3>
                    <h3> Plan: {{ trip.description }}  </h3>
                    <hr>
                {% endfor %}
            {% else %}
                <h2>"No Trips"</h2>
            {% endif %}

        </div>

    <div id="others">
<h1>Other Users Travel Plans</h1>
         {% if all_users %}
                {% for user in all_users %}
                        {% for trip in user.trips.all %}
                  <h4> {{ user.name }} </h4>
                    <h4> <a href="/destination/{{trip.id}}"> {{ trip.destination }}</a> </h4>
                    <h4> {{ trip.date_from }} </h4>
                    <h4> {{ trip.date_to }} </h4>

                    <a href="/join/{{trip.id}}">JOIN</a><br><br><br>
        <hr>
                        {% endfor %}
                {% endfor %}
            {% else %}
                <h2>"No Trips"</h2>
            {% endif %}

        </div>


<a href="/travels/add">ADD TRAVEL PLAN</a>